name: Publish WinGet

on:
  release:

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

permissions: {}

jobs:
  publish-winget:
    name: Publish to WinGet
    timeout-minutes: 5
    runs-on: ubuntu-slim
    steps:
      - name: Install komac
        uses: UnownPlain/install-komac@b74704bf4efcae71fe5b5b21fe5dde889da57714 # 1.1
      - name: Update Package
        run: komac update foo.bar --version "${VERSION}" --urls "https://example.com/downloads/${VERSION}/installer.msix" --submit
        env:
          VERSION: ${{ github.event.release.tag_name }}
          GITHUB_TOKEN: ${{ secrets.WINGET_TOKEN }}
