name: Publish WinGet

on:
  release:

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

permissions: {}

jobs:
  publish-winget:
    name: Publish to WinGet
    timeout-minutes: 5
    runs-on: ubuntu-slim
    steps:
      - name: Install komac
        uses: UnownPlain/install-komac@aa87b1b14e2370e14cb11449e4408f8ae7a651d9 # 1.2
      - name: Update Package
        run: komac update foo.bar --version "${VERSION}" --urls "https://example.com/downloads/${VERSION}/installer.msix" --submit
        env:
          VERSION: ${{ github.event.release.tag_name }}
          GITHUB_TOKEN: ${{ secrets.WINGET_TOKEN }}
