name: Test Action

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions: {}

jobs:
  matrix-test:
    name: Test
    timeout-minutes: 5
    strategy:
      fail-fast: false
      matrix:
        os:
          - windows-2025
          - windows-11-arm
          - ubuntu-24.04
          - ubuntu-24.04-arm
          - ubuntu-slim
          - macos-26
          - macos-26-intel
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Run Action
        uses: ./

      - name: Verify komac Availability
        run: komac --version

  test-success:
    runs-on: ubuntu-slim
    needs: matrix-test
    steps:
      - name: Check
        run: echo 'All tests succeeded!'
